:root {
    --border-color: #4f4f4f;
    --background-color: #111111;
    --background-color-drawing: #0a0a0a;
    --background-box-title: #404040;
}

html, body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #111111;
    color: #eeeeee;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 66px;
    background-color: #111111;
    color: #eeeeee;
    border-bottom: 1px solid var(--border-color);
    padding-left: 20px;
}

header h2 {
    margin: 0px;
    color: #eeeeee;
    line-height: 66px;
}

header a {
    color: #eeeeee;
}

.them-edit-link {
    position: absolute;
    top: 10px;
    right: 100px;
    color: #eeeeee;
    font-size: 40px;
}

.them-edit-link a {
    text-decoration: none;
}

.github-link {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #eeeeee;;
}

.wrapper {
    width: 100%;
    height: calc(100vh - 67px);
    display: flex;
}

.col {
    overflow: auto;
    width: 250px;
    height: 100%;
    /*margin-top: 20px;*/
    padding-top: 20px;
    border-right: 1px solid var(--border-color);
}

.col::-webkit-scrollbar {
    width: 5px;
}


.col::-webkit-scrollbar-track {
    background: #404040; /* color of the tracking area */
}

.col::-webkit-scrollbar-thumb {
    background-color: #404040; /* color of the scroll thumb */
    border-radius: 2px; /* roundness of the scroll thumb */
    border: 5px solid black; /* creates padding around scroll thumb */
}

.drag-drawflow {
    line-height: 50px;
    /*border-bottom: 1px solid var(--border-color);*/
    padding-left: 20px;
    cursor: move;
    user-select: none;
}

.menu {
    position: absolute;
    height: 40px;
    display: block;
    background: black;
    width: 100%;
    color: #eeeeee;
}

.menu ul {
    padding: 0px;
    margin: 0px;
    line-height: 40px;
}

.menu ul li {
    display: inline-block;
    margin-left: 10px;
    border-right: 1px solid var(--border-color);
    padding-right: 10px;
    line-height: 40px;
    cursor: pointer;
}

.menu ul li.selected {
    font-weight: bold;
}

.btn-export {
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #efefef;
    font-weight: bold;
    /*border: 1px solid #11bbfc;*/
    background: #0c5470;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 5;
}

.disabled {
    background: #3d3d3d;
    cursor: default;
}

.btn-clear {
    float: right;
    position: absolute;
    top: 10px;
    right: 85px;
    color: #efefef;
    font-weight: bold;
    /*border: 1px solid #96015b;*/
    background: #c62353;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 5;
}

.btn-copyToClipboard {
    float: right;
    position: absolute;
    top: 10px;
    right: 155px;
    color: #efefef;
    font-weight: bold;
    /*border: 1px solid #96015b;*/
    background: #808080;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 5;
}

.swal-wide {
    width: 80% !important;
}

.btn-lock {
    float: right;
    position: absolute;
    bottom: 10px;
    right: 140px;
    display: flex;
    font-size: 24px;
    color: white;
    padding: 5px 10px;
    background: #555555;
    border-radius: 4px;
    border-right: 1px solid var(--border-color);
    z-index: 5;
    cursor: pointer;
}

.bar-zoom {
    float: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    font-size: 24px;
    color: white;
    padding: 5px 10px;
    background: #555555;
    border-radius: 4px;
    border-right: 1px solid var(--border-color);
    z-index: 5;
}

.bar-zoom svg {
    cursor: pointer;
    padding-left: 10px;
}

.bar-zoom svg:nth-child(1) {
    padding-left: 0px;
}

#drawflow {
    position: relative;
    cursor: grab;
    width: calc(100vw - 251px);
    height: calc(100% - 8px);
    background: var(--background-color-drawing);
    /*Checkerboard pattern*/

    /*background-size: 25px 25px;*/
    /*background-image:*/
    /*linear-gradient(to right, #222222 1px, transparent 1px),*/
    /*linear-gradient(to bottom, #222222 1px, transparent 1px);*/
}

#drawflow:active {
    cursor: grabbing;
}

@media only screen and (max-width: 768px) {
    .col {
        width: 50px;
    }

    .col .drag-drawflow span {
        display: none;
    }

    #drawflow {
        width: calc(100vw - 51px);
    }
}


.drawflow {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.drawflow.smooth{
    transition: transform 330ms ease-in-out;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.drawflow:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.drawflow .drawflow-node {
    background: var(--background-color);
    border: 1px solid var(--border-color);
    -webkit-box-shadow: 0 2px 15px 2px var(--border-color);
    box-shadow: 0 2px 15px 2px var(--border-color);
    color: #eeeeee;
    padding: 0px;
    /*width: 200px;*/
}

.drawflow .drawflow-node.selected {
    background: black;
    border: 1px solid #c6c6c6;
    -webkit-box-shadow: 0 2px 20px 2px #c6c6c6;
    box-shadow: 0 2px 20px 2px #c6c6c6;
}

.drawflow .drawflow-node.selected .title-box {
    color: #eeeeee;
    /*border-bottom: 1px solid #4ea9ff;*/
}

.drawflow .connection .main-path {
    stroke: #1393bf;
    stroke-width: 3px;
}

.drawflow .connection .sub-path {
    stroke: #db9ff5;
    stroke-width: 3px;
}


.drawflow .drawflow-node .input {
    background-color: #2e2e2eCC;
    height: 15px;
    width: 15px;
    border: 3px solid #0c5470;
}

.drawflow .drawflow-node .inputBottom {
    background-color: #2e2e2eCC;
    height: 15px;
    width: 15px;
    border: 3px solid #be87d7;
}

.drawflow .drawflow-node .output {
    background-color: #0c5470;
    height: 15px;
    width: 15px;
    border: 3px solid #2e2e2eCC;
}

.drawflow .drawflow-node .outputTop {
    background-color: #be87d7;
    height: 15px;
    width: 15px;
    border: 3px solid #2e2e2eCC;
}

.drawflow .drawflow-node .input:hover {
    background: #ff52b6;
    border: 3px solid #0c5470;
}

.drawflow .drawflow-node .inputBottom:hover {
    background: #ff52b6;
    border: 3px solid #be87d7;
}

.drawflow .drawflow-node .output:hover {
    background: #0c5470;
    border: 3px solid #ff52b6;
}

.drawflow .drawflow-node .outputTop:hover {
    background: #be87d7;
    border: 3px solid #ff52b6;
}

.drawflow .drawflow-node .output {
    right: 10px;
}

.drawflow .drawflow-node .outputTop {
    right: 0px;
}

.drawflow .drawflow-node .input {
    left: -10px;
    /*background: transparent;*/
}

.drawflow .drawflow-node .inputBottom {
    /*left: -10px;*/
    /*align-content: center;*/
    /*background: white;*/
}

.drawflow > .drawflow-delete {
    border: 2px solid #43b993;
    background: white;
    color: #43b993;
    -webkit-box-shadow: 0 2px 20px 2px #43b993;
    box-shadow: 0 2px 20px 2px #43b993;
}

.drawflow-delete {
    border: 2px solid #4ea9ff;
    background: white;
    color: #4ea9ff;
    -webkit-box-shadow: 0 2px 20px 2px #4ea9ff;
    box-shadow: 0 2px 20px 2px #4ea9ff;
}

.drawflow-node .title-box {
    height: 50px;
    line-height: 50px;
    background: var(--background-box-title);
    border-bottom: 1px solid #e9e9e9;
    border-radius: 4px 4px 0px 0px;
    padding-left: 10px;
}

.drawflow .title-box svg {
    position: initial;
}

.drawflow-node .box {
    padding: 10px 20px 20px 20px;
    font-size: 14px;
    color: #eeeeee;
    width: 340px;
}

.drawflow-node .box p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.drawflow-node.welcome {
    width: 250px;
}

.drawflow-node.slack .title-box {
    border-radius: 4px;
}

.drawflow-node input, .drawflow-node textarea {
    /*border-radius: 4px;*/
    /*border: 1px solid var(--border-color);*/
    /*height: 30px;*/
    /*line-height: 30px;*/
    /*font-size: 16px;*/
    /*width: 155px;*/
    /*color: #555555;*/
}

.drawflow-node select {
    border-radius: 4px;
    border: 1px solid var(--border-color);
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    width: 160px;
    color: #555555;
}

.drawflow-node textarea {
    /*height: 100px;*/
}


.drawflow-node.personalized {
    background: red;
    height: 200px;
    text-align: center;
    color: white;
}

.drawflow-node.personalized .input {
    background: yellow;
}

.drawflow-node.personalized .output {
    background: green;
}

.drawflow-node.personalized.selected {
    background: blue;
}

.drawflow .connection .point {
    stroke: var(--border-color);
    stroke-width: 2;
    fill: #c6c6c6CC;
    transform: translate(-9999px, -9999px);
}

.drawflow .connection .point.selected, .drawflow .connection .point:hover {
    fill: #c6c6c6;
}


/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 7;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);

}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 400px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* Tooltip container */
/*.tooltip {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    border-bottom: 1px dotted black; !* If you want dots under the hoverable text *!*/
/*}*/

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #404040;
    color: #fff;
    text-align: left;
    padding: 5px 5px;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    line-height: 120%;
    left: -70%;
    z-index: 8;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media only screen and (max-width: 768px) {
    .modal-content {
        width: 80%;
    }
}

.container {
    position: relative;
    width: 380px;
    height: 180px;
}

.image {
    opacity: 1;
    display: block;
    /*width: 100%;*/
    height: auto;
    /*transition: .5s ease;*/
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 25%;
    z-index: 1;
    width: 380px;
    /*transform: translate(-50%, -50%);*/
    /*-ms-transform: translate(-50%, -50%)*/
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.draggNode {
    width: 200px;
}

.textAreaText {
    background-color: #222222;
    border: none;
    height: 100px;
    width: 280px;
    margin-top: 15px;
    margin-left: 55px;
    color: white;
    font-size: 18px;
    text-align: left;
    overflow: auto;
}

.textAreaHeadline {
    background-color: #222222;
    border: none;
    height: 30px;
    width: 250px;
    overflow: hidden;
    margin-top: 75px;
    margin-left: 55px;
    color: white;
    font-size: 25px;
    text-align: left
}

/* Style buttons */
.addButton {
    background-color: #00000000; /* Blue background */
    border: none; /* Remove borders */
    color: gray; /* White text */
    margin-left: 60px;
    /*padding: 12px 16px; !* Some padding *!*/
    /*font-size: 16px; !* Set a font size *!*/
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.addButton:hover {
    color: white;
}

.mapboxgl-ctrl-geocoder {
    float: right;
    margin-right: 20px;
    margin-top: -10px;
    width: 50px;
}

.vol {
    z-index: 0;
    position: absolute;
    width: 380px;
    height: 180px;
    background-color: black;
}

.vol:hover {
    cursor: auto;
}